@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1 {
    color: rgb(10, 140, 210);
    font-weight: 700;
}

body {
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(10, 140, 210);

    thead {
        background-color: rgb(10, 140, 210);
        color: #fff;
        text-transform: uppercase;
        padding: 10px 0;

        th {
            border: 1px solid #fff;
            padding: 10px 0;
        }
    }

    td {
        padding: 10px;
        border: 1px solid rgb(10, 140, 210);
    }
}